@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 252, 249);
}

.responsive-nav {
  text-align: center;
  padding: 5px 12px;
}

.nav-title {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 800;
}

.nav-data {
  font-size: 1rem;
  color: #AAA;
}

.nav-categories {
  display: inline-block;
  font-size: 1.25rem;
  margin-top: 15px;
}

.category-item {
  color: #555;
  margin-right: 30px;
}

.fa-button {
  font-size: 1.5rem;
  background: #FFF0;
  border: none;
}

@media only screen
and (max-width : 719px) {
  .nav-title {
    font-size: 2rem;
  }
  .responsive-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .nav-title.long,
  .nav-large-only {
    display: none;
  }
}

@media only screen
and (min-width : 720px)
and (max-width : 1023px) {
  .nav-title {
    font-size: 2rem;
  }
  .responsive-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .nav-title.abbr,
  .nav-large-only {
    display: none;
  }
}

@media only screen
and (min-width : 1024px) {
  .responsive-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .menu-button,
  .nav-title.abbr {
    display: none;
  }
}